<!DOCTYPE html>
<html>
    <head>
        <title>Крутой ASCII-арт</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width"> <!-- Это приложение адаптировано для мобильных! -->
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body class="page">
        <div class="face"><%= face1 %></div>
        <div class="face"><%= face2 %></div>
    </body>
</html>
